[submodule "sort/googletest"]
	path = sort/googletest
	url = https://github.com/google/googletest
[submodule "array-and-list/googletest"]
	path = array-and-list/googletest
	url = https://github.com/google/googletest
[submodule "tree/googletest"]
	path = tree/googletest
	url = https://github.com/google/googletest